version: '3.8'

services:
  db:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: secmmuser
      POSTGRES_PASSWORD: mmuserpassword
      POSTGRES_DB: mattermost
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - mattermost-net


  coturn:
    image: coturn/coturn
    restart: unless-stopped
    command: -n --log-file=stdout --min-port=49152 --max-port=49200
    environment:

      - TURN_REALM=turn.hpds.ir
      - TURN_SECRET=tudqn98
      - TURN_PORT=3478
      - TURN_TLS_PORT=5349
    ports:
      - "3478:3478/tcp"
      - "3478:3478/udp"
      - "5349:5349/tcp"
      - "5349:5349/udp"
      - "49152-49200:49152-49200/udp"
    networks:
      - mattermost-net
    volumes:
      - './coturn-config:/etc/coturn:ro'
  app:
    image: jfrog.hpds.ir/docker/mattermost/mattermost-team-edition:9.11.18
    restart: unless-stopped
    depends_on:
      - db
      - coturn
    environment:
      MM_SQLSETTINGS_DRIVERNAME: postgres
      MM_SQLSETTINGS_DATASOURCE: postgres://secmmuser:mmuserpassword:5432/mattermost?sslmode=disable&connect_timeout=10
      MM_SERVICESETTINGS_SITEURL: https://chat.hpds.ir
      MM_PLUGINSETTINGS_ENABLED: "true"
      MM_CALLSSETTINGS_ENABLE: "true"
      MM_CALLSSETTINGS_ALLOWENABLECALLS: "true"
      MM_CALLSSETTINGS_DEFAULTENABLED: "true"
      MM_CALLSSETTINGS_TURNSHAREDKEY: "tudqn98"
      MM_CALLSSETTINGS_STUNSERVER: "stun:chat.hpds.ir:3478"
      MM_CALLSSETTINGS_TURNSERVER: "turn:turn.hpds.ir:3478?transport=udp"
      MM_CALLSSETTINGS_ICESERVERS: "[{\"urls\":[\"stun:chat.hpds.ir:3478\",\"turn:turn.hpds.ir:3478?transport=udp\"],\"username\":\"secmmuser\",\"credential\":\"tudqn98\"}]"
      MM_CALLSSETTINGS_USEDTLS: "false"
      MM_CALLSSETTINGS_USETLS: "false"
    volumes:
      - app-data:/mattermost/data
      - app-config:/mattermost/config
      - app-plugins:/mattermost/plugins
      - app-client-plugins:/mattermost/client/plugins
      - ./config.json:/mattermost/config/config.json
    ports:
      - "127.0.0.1:8065:8065"           # Mattermost web interface
      - "8443:8443/tcp"       # Calls signaling (TCP)
      - "8443:8443/udp"       # Calls media traffic (UDP)
    networks:
      - mattermost-net
      - nginx
  reverse-proxy:
    image: nginx:1.29.0
    container_name: nginx
    restart: unless-stopped
    ports:
      - '443:443'
      - '80:80'
    volumes:
      - '/opt/mattermost/nginx-config/conf.d:/etc/nginx/conf.d'
    networks:
      - mattermost-net
      - nginx


volumes:
  db-data:
    driver: local
  app-data:
    driver: local
  app-config:
    driver: local
  app-plugins:
    driver: local
  app-client-plugins:
    driver: local

networks:
  mattermost-net:
  nginx:
    external: true
